<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <add key="dataserviceconnectionstring" value="Server=127.0.0.1;Database=odp;uid=MyCivicAdmin;Pwd=testit;"/>
    <add key="appmetadataconnectionstring" value="Server=127.0.0.1;Database=odp;uid=MyCivicAdmin;Pwd=testit;"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="true"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ChartImageHandler" value="storage=session;timeout=20;"/>
    <add key="Service" value="Odp.InteractiveSdk.Mvc.IsdkWindowsAzureStorageProvider, WindowsAzureStorageProvider"/>
    <add key="ServiceNEW" value="Odp.InteractiveSdk.Mvc.IsdkSqlServerStorageProvider, SqlServerStorageProvider"/>
    <add key="TableStorageEndpoint" value="TableStorageEndpoint from appSettings.xml"/>
    <add key="BlobStorageEndpoint" value="BlobStorageEndpoint from appSettings.xml"/>
    <add key="AccountName" value="AccountName from appSettings.xml"/>
    <add key="AccountSharedKey" value="AccountSharedKey from appSettings.xml"/>
    <add key="OgdiConfigConnectionString" value="OgdiConfigConnectionString from appSettings.xml"/>
    <add key="DiagnosticsConnectionString" value="DiagnosticsConnectionString from appSettings.xml"/>
    <add key="serviceUri" value="http://api.civicinfo.ca/interactive/"/>
    <add key="dataServiceUri" value="http://api.civicinfo.ca/v1/sql/"/>
    <!--<add key="serviceUri" value="http://localhost:1114/interactive/" />
    <add key="dataServiceUri" value="http://localhost:1114/v1/sql/" />-->
    <add key="pathDTD" value="XMLValidation\dtbook-2005-3.dtd"/>
    <add key="HeaderLogo" value="../../Images/CloudBanner2.png"/>
    <add key="HeaderLogoAltText" value="Open Data Publisher Logo"/>
    <add key="HeaderLogoLongDesc" value="../../Descriptions/Load.txt"/>
    <add key="HeaderBackground" value="../../Images/HeadBG.gif"/>
    <add key="FooterBackground" value="../../Images/footer.gif"/>
    <add key="BannerImage" value="../../Images/example.png"/>
    <add key="TermsOfUseURL" value="/Licence"/>
    <add key="TradeMarksURL" value=""/>
    <add key="AboutPageURL" value="YOUR ABOUT PAGE URL"/>
    <add key="DeveloperPageURL" value="YOUR DEVELOPER PAGE URL"/>
    <add key="LicencePageURL" value="YOUR LICENCE PAGE URL"/>
    <add key="PrivacyPageURL" value="YOUR PRIVACY PAGE URL"/>
    <add key="CopyRightsStatement" value="YOUR COPYRIGHT STATEMENT"/>
    <add key="PrivacyPage" value="..insert privacy content here.."/>
    <add key="HomePageHeading" value=""/>
    <add key="WelcomeVideoURL" value="http://blip.tv/play/Af+QfgA"/>
    <add key="HomePageContent" value="&lt;p class=&quot;big&quot;&gt;  The Municipality of North Cowichan is committed to providing information to the general public in a wide an array of formats. This includes publishing data on the Internet. To make this possible, North Cowichan is using technologies from various Open Government Data initiatives across the world.  Our goal is to provide relevant, concise, and up to data information about our community for the general public.      &lt;/p&gt;"/>
    <add key="BlogPostsUrl" value="www.northcowichan.ca"/>
    <add key="NumberOfBlogLinksOnPage" value="3"/>
    <add key="MapProvider" value="Google"/>
    <add key="RootServiceNamespace" value="RootServiceNamespace from ServiceConfiguration.cscfg"/>
    <add key="OgdiConfigConnectionString DEFINED ABOVE" value="OgdiConfigConnectionString from ServiceConfiguration.cscfg"/>
    <add key="DiagnosticsConnectionString DEFINED ABOVE" value="DiagnosticsConnectionString from ServiceConfiguration.cscfg"/>
    <add key="TableStorageEndpoint DEFINED ABOVE" value="TableStorageEndpoint from ServiceConfiguration.cscfg"/>
    <add key="TableStorageBaseUrl" value="TableStorageBaseUrl from ServiceConfiguration.cscfg"/>
    <add key="BlobStorageBaseUrl" value="BlobStorageBaseUrl from ServiceConfiguration.cscfg"/>
    <add key="RecaptchaPrivateKey" value="6LcycMASAAAAANuJQ3zrymLKdjnwN7AKhk91aRm5"/>
    <add key="RecaptchaPupblicKey" value="6LcycMASAAAAAEsbWCsRPRlDPHRnu2JpAl_7-YiZ"/>
    <add key="DefaultMembershipTableName" value="Membership"/>
    <add key="DefaultRoleTableName" value="Roles"/>
    <add key="DefaultSessionTableName" value="Sessions"/>
    <add key="DefaultProviderApplicationName" value="ProviderTest"/>
    <add key="DefaultProfileContainerName"/>
    <add key="DefaultSessionContainerName"/>
    <add key="DisplayDatasetFilter" value="false"/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </sessionState>
    <authentication mode="Forms">
      <forms loginUrl="/Login" protection="All" name="adAuthCookie" timeout="60" path="/"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  <location path="DataLoader">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Setup">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>